.bg-container {
    height: 100%;
    width: 95%;
    display: flex;
    flex-direction: column;
    background-color: #9ba9eb;
    padding: 30px;
  }

  .password-heading-2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #ffffff;
    padding-left: 20px;
  }
  
  .logo-image {
    height: 100px;
    width: 300px;
    margin-bottom: 15px;
  }

  .top-container {
    height: 500px;
    width: 95%;
    background-color: #5763a5;
    background-size: cover;
    padding: 30px;
    border: 0px none;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .image-container {
    height: 500px;
    width: 60%;
  }
  
  .password-manager-image {
    height: 500px;
    width: 100%;
    border-radius: 15px;
  }
  
  .add-password-container {
    width: 35%;
    background-color: #454f84;
    font-family: Roboto;
    border: none;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    padding: 20px;
  }
  
  .password-heading {
    color: white;
    font-family: Roboto;
    font-weight: bold;
  }
  
  .input-container {
    display: flex;
    border-radius: 5px;
    border: none;
    padding: 10px;
    background-color: white;
    width: 96%;
    margin-bottom: 30px;
    margin-top: 15px;
  }
  
  .input-logo {
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }
  
  .input-item {
    outline: none;
    background-color: transparent;
    border: 0px none;
    border-left: 2px #5763a5;
    cursor: pointer;
  }
  
  .add-button-container {
    display: flex;
    justify-content: flex-end;
  }
  
  .add-button {
    background-color: #0b69ff;
    border-radius: 5px;
    border: 0px none;
    cursor: pointer;
    padding: 15px;
    width: 100px;
    color: white;
    font-size: 20px;
    font-family: Roboto;
    font-weight: bold;
    align-self: flex-end;
  }
  
  .bottom-container {
    background-color: #5763a5;
    background-size: cover;
    width: 96%;
    border: none;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px;
    margin-right: 20px;
  }
  
  .your-password-container {
    display: flex;
    padding: 10px;
    justify-content: space-between;
  }
  
  .your-password-text-cont {
    display: flex;
    color: white;
  }
  
  .count {
    height: 25px;
    width: 25px;
    color: white;
    border-radius: 10px;
    border: 1px solid #ffffff;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 28px;
  }
  
  .search-input-container {
    height: 42px;
    display: flex;
    background-color: #e2e8f0;
    border-radius: 5px;
    border: 0px none;
    padding: 10px;
    width: 220px;
    margin-bottom: 30px;
    margin-top: 15px;
  }
  
  .search-logo {
    color: #454f84;
  }
  
  .user-password-container {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 8px;
  }
  
  .show-password-container {
    display: flex;
    justify-content: flex-end;
    color: white;
    font-family: Roboto;
  }
  
  .no-passwords-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .no-passwords-image {
    height: 500px;
    width: 600px;
  }
  
  .list-items-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px;
    margin-top: 24px;
  }
  .no-passwords {
    font-family: 'Roboto';
    font-weight: bold;
    color: #ffffff;
    font-size: 30px;
  }
  

  .no-passwords-container {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .no-password-heading {
    font-family: fantasy;
    font-weight: 500;
    color: #ffffff;
  }