
@media screen and (min-width: 992px) {
  .password-heading-2 {
    font-size: 38px;
  }
  .add-password-container {
    width: 500px;
  } 
  .password-manager-image {
    width: 650px;
  }  
  .input-container {
    height: 20px;
    width: 450px;
  }
  .count-container {
    height: 28px;
    width: 28px;
  } 
  .password-heading {
    font-size: 35px;
  }
  .count {
    font-size: 21px;
  }
  .add-button {
    height: 50px;
    width: 80px;
    font-size: 21px;
  } 
  .search-input-container {
    height: 20px;
    width: 200px;
  }
  .count-container {
    height: 24px;
    width: 24px;
    border-radius: 38px;
  }
  .no-password-heading {
    font-size: 34px;
  }
  .count {
    font-size: 18px;
    color: #ffffff;
  }
}
@media screen and (max-width: 991px) {
  .password-heading-2 {
    font-size: 30px;
  }
  .add-password-container {
    width: 350px;
  } 
  .password-manager-image {
    width: 450px;
  } 
  .input-container {
    height: 20px;
    width: 350px;
  } 
  .add-button {
    height: 50px;
    width: 80px;
    font-size: 21px;
  } 
  .password-heading {
    font-size: 28px;
  }
  .your-password-text-count {
    display: flex;
    align-items: center;
  }
  .count {
    font-size: 18px;
    color: #ffffff;
  }

  .search-input-container {
    height: 20px;
    width: 200px;
  }
  .count-container {
    height: 24px;
    width: 24px;
    border-radius: 38px;
  }
  .no-password-heading {
    font-size: 28px;
  }
}




@media screen and (max-width: 767px) {
  .password-heading-2 {
    font-size: 25px;
  }
  .your-password-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .top-container {
    width: 767px;
  }
  .add-password-container {
    width: 500px;
  }
  .password-manager-image {
    width: 267px;
    display: none;
  }
  .input-container {
    height: 20px;
    width: 300px;
  }
  .password-heading {
    font-size: 28px;
  }
  .add-button {
    height: 48px;
    width: 80px;
    font-size: 20px;
  }
  .password-heading {
    font-size: 25px;
  }
  .your-password-text-count {
    display: flex;
    align-items: center;
  }
  .count {
    font-size: 15px;
    color: #ffffff;
  }

  .search-input-container {
    height: 14px;
    width: 200px;
    display: flex;
    align-items: center;
  }
  .search-logo {
    height: 14px;
    width: 50px;
  }
  .count-container {
    height: 20px;
    width: 20px;
    border-radius: 30px;
  }
  .no-password-heading {
    font-size: 26px;
  }
}


.bg-container {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    background-color: #9ba9eb;
    padding: 30px;
  }

  .count-container {
    border: 1px solid #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }

  .password-heading-2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #ffffff;
    padding-left: 20px;
  }
  

  .top-container {
    height: 500px;
    width: auto;
    background-color: #5763a5;
    background-size: cover;
    border: 0px none;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
  }

  .image-container {
    height: 500px;
    width: auto;
  }
  
  .password-manager-image {
    height: 500px;
    border-radius: 15px;
  }

  .your-password-text-count {
    display: flex;
    align-items: center;
  }
  
  .add-password-container {
    width: auto;
    background-color: #454f84;
    font-family: Roboto;
    border: none;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    padding: 20px;
  }
  
  .password-heading {
    color: white;
    font-family: Roboto;
    font-weight: bold;
  }
  
  .input-container {
    display: flex;
    border-radius: 5px;
    border: none;
    padding: 10px;
    background-color: white;
    margin-bottom: 30px;
    margin-top: 15px;
  }
  
  .input-logo {
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }
  
  .input-item {
    outline: none;
    background-color: transparent;
    border: 0px none;
    border-left: 2px #5763a5;
    cursor: pointer;
  }
  
  .add-button-container {
    display: flex;
    justify-content: flex-end;
  }
  
  .add-button {
    background-color: #0b69ff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    font-family: Roboto;
    font-weight: bold;
    align-self: flex-end;
  }
  
  .bottom-container {
    background-color: #5763a5;
    background-size: cover;
    width: auto;
    border: none;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px;
  }
  
  .your-password-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .your-password-text-count{
    height: auto;
  }
  
  .count {
    color: white;
  }
  
  .search-input-container {
    display: flex;
    background-color: #e2e8f0;
    border-radius: 5px;
    border: 0px none;
    padding: 10px;
    margin-bottom: 30px;
    margin-top: 15px;
  }
  
  .search-logo {
    color: #454f84;
  }
  
  .user-password-container {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 8px;
  }
  
  .show-password-container {
    display: flex;
    justify-content: flex-end;
    color: white;
    font-family: Roboto;
  }
  
  .no-passwords-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .no-passwords-image {
    height: 500px;
    width: 600px;
  }
  
  .list-items-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px;
    margin-top: 24px;
  }
  .no-passwords {
    font-family: 'Roboto';
    font-weight: bold;
    color: #ffffff;
    font-size: 30px;
  }
  

  .no-passwords-container {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .no-password-heading {
    font-family: fantasy;
    font-weight: 500;
    color: #ffffff;
  }